@import "tailwindcss";

.container {
    width: 100%;
    margin-bottom: 4em;
    @media (width >= 20rem /* for iphone 16 pro screen and smaller */) {
        max-width: 90%;
    }
    @media (width >= 40rem /* 640px */) {
        max-width: 36rem /* 640px */;
    }
    @media (width >= 48rem /* 768px */) {
        max-width: 40rem /* 768px */;
    }
    @media (width >= 64rem /* 1024px */) {
        max-width: 48rem /* 1024px */;
    }
    @media (width >= 80rem /* 1280px */) {
        max-width: 48rem /* 1280px */;
    }
    @media (width >= 96rem /* 1536px */) {
        max-width: 48rem /* 1536px */;
    }
}
